@use '../abstracts/variables' as v;
%diamond {
	border: 50px solid transparent;
	border-bottom: 30px solid v.$color-primary;
	position: relative;
	top: -10px;
	left: calc(50% - 50px);
	display: block;
	z-index: -1;
	&:after {
		content: '';
		position: absolute;
		left: -50px;
		top: 30px;
		width: 0;
		height: 0;
		border: 50px solid transparent;
		border-top: 30px solid v.$color-primary;
	}
}

.current-letter {
	min-height: 18rem;
	display: grid;
	margin-top: 3rem;
	font-size: 1em;
	place-items: center;
	place-content: center;
	&__diamond {
		@extend %diamond;
		transform: translateY(-3rem);
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}
	&__letter {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
		font-size: 1.4em;
		color: white;
		display: block;
		text-align: center;
	}
	&__count {
	}
}
