footer {
	padding: 6.5rem 0;
	background-color: rgb(33, 37, 41);
	color: white;
	text-align: center;
	p {
		font-size: 1.5em;
	}
}
body:where(.dark-theme) > footer {
	background-color: rgba(white, 0.25);
	color: white;
}
