@use '../abstracts/variables' as v;
.word-card {
	border-radius: 2.5rem;
	background-color: white;
	padding: 2rem;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
	place-content: center;
	align-items: center;
	font-family: v.$font-family--headings;
	&__text {
		grid-column: 1 / 2;
		padding: 1rem;
		&--title {
			font-weight: 700;
			text-transform: lowercase;
			font-size: 2em;
		}
		&--part-of-language {
			font-size: 1.8rem;
			font-weight: 500;
		}
		&--definition {
			font-size: 1.35em;
		}
	}
	&__button {
		display: flex;
		justify-content: center;
		color: v.$color-primary;
		grid-column: 2 / 3;
	}
}
